section {
  height: 70%;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
}
body {
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.addressA {
  display: flex;
}
.red {
  color: green;
  display: flex;
  align-items: center;
}
.fa-solid {
  font: size 8rem;
  margin-right: 5px;
}
footer {
  color: rgb(255, 252, 252);
  height: 27%;
  background-color: rgb(27, 27, 29);
}
.form1 {
  width: 50%;
  background-color: green;
}
.link {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}
.one1 {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.two {
  color: green;
}
