* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  height: 100vh;
}
.bg-section {
  /* height: 100vh; */
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: azure;
  
  
}

nav ul,
li,
a {
  color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-section {
  
}
.main h1 {
  font-family: "Times New Roman", Times, serif;
  color: rgba(240, 255, 255, 0.856);
  display: flex;
  justify-content: center;
  padding: 50px;
}
.box p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(233, 238, 238);
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.make {
  padding-top: 40px;
  justify-content: center;
  background-image: url("./image/image\ 3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  width: 15%;
  margin-bottom: 15px;
}
.box1 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.fa-solid {
  background-color: aliceblue;
  border: 10px solid white;
  border-radius: 20px;
  color: rgb(129, 129, 129);
  position: relative;
  left: -35px;
  margin-bottom: 15px;
}

.container1 {
  margin: 0 auto;
  max-width: 1200px;
}
.main-box h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: rgb(121, 61, 61);
  text-align: center;
  padding: 50px;
}
.container1 .login {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}
.main1 {
  background-color: #f7f1f1;
  height: 65vh;
}
.one1 {
  box-shadow: 7px 5px 10px #fadcd9;
  border: 3px solid #fadcd9;
  color: aliceblue;
  border-radius: 7px;
  width: 50%;
  height: 35vh;
  background-color: rgb(213, 213, 213);
}
.icon img {
  padding: 5px;
  width: 40px;
  height: 40px;
}

.one1 h3 {
  color: rgb(39, 41, 43);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.one1 p {
  padding: 10px;
  color: rgb(114, 112, 109);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.one1 a {
  padding: 20px;
  color: #a26a65;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.asside {
  display: flex;
  margin: 20px;
}
.left h1 {
  padding: 10px;
  color: #a26a65;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.left p {
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(139, 133, 133);
}
.left a {
  color: #b04238;
  margin: 10px;
}
.right img {
  padding: 15px;
  width: 100%;
  height: 100%;
}

.aria h1 {
 
  color: #a26a65;
}
.container3 h1 {
  position: relative;
  color: #a47d7a;
  left: 40%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.box3 {
  display: flex;
}
.box4 img {
  margin: 10px;
  width: 80%;
  height: 70%;
}
.box4 h4,
p {
  color: rgb(88, 81, 81);
  padding: 0 10px;
}
.box4 .catagory {
  color: rgb(144, 140, 140);
}
.foto h1 {
  color: #a26a65;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 20px;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.services {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 40vh;
  background-color: rgb(243, 243, 243);
}
.services {
  display: flex;
}
.flex {
  display: flex;
  padding: 15px;
}
.foto h2 {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(39, 37, 37);
}
.services h2 {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.flex .right h5 {
  padding: 5px;
  margin: 5px;
}
.home-decor {
  display: flex;
  height: 100vh;
}
.room {
  height: 100vh;
}
.home {
  display: flex;
}
.left2 img {
  height: 70%;
  margin-top: 30px;
  margin-left: 20px;
}
.right2 {
  width: 50%;
}
.right2 h1 {
  color: #9b5f5a;
  margin-top: 40px;
  margin-left: 20px;
}
.right2 p {
  color: rgb(173, 165, 165);
  padding: 20px;
}
.button1 {
  background-color: rgba(255, 245, 198, 0.925);
  color: rgb(193, 163, 163);
  border: 2px solid rgb(222, 158, 158);
  border-radius: 20px;
  width: 215%;
  height: 35px;
  margin-left: 30px;
}
.container2{
    max-width: 1200px;
    margin: 0 auto;
}
.container3{
    max-width: 1200px;
    margin: 0 auto;
}
.container4{
    max-width: 1200px;
    margin: 0 auto;
}
