* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 10px;
}
.box {
    background-color: red;
}

.box1 {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.box:nth-child(1) {
  grid-row: 1 / 4;
  background-color: rgb(72, 89, 119);
}
.box:nth-child(2) {
  background: url("./ddfcb13fff98f4cb19e593e71cf54d34.jpg");
  grid-column: 2/4;
  grid-row: 1 / 6;
}
.box:nth-child(3){
    background-color: rgb(72, 89, 119);
    grid-row: 1 / 4;
}
.box:nth-child(4){
    background-color: rgb(72, 89, 119);
    grid-row: 4 / -1;
    grid-column: 4;
}

/* .box:nth-child(4) {
    background-color: rgb(72, 89, 119);
  }
.box:nth-child(6) {
    background-color: rgb(72, 89, 119);
    grid-row: 6/7;
  }
.box:nth-child(7) {
    background-color: rgb(72, 89, 119);
  }
.box:nth-child(8) {
    background-color: rgb(72, 89, 119);
    grid-row: 7/8;
  }
.box:nth-child(9) {
    background-color: brown;
    grid-row: 9/8;
  }
.box:nth-child(10) {
    background-color: brown;
    grid-row: 5/5;
  }
.box:nth-child(11) {
    background-color:brown;
    grid-row: 5/5;
  }
.box:nth-child(12) {
    background-color: brown;
  }
.box:nth-child(5) {
    background-color: brown;
    grid-row: 5/5;
  } */
